<launch>
  <arg name="swarm_num" default="16"/>

  <arg name="map_size_x" value="70.0"/>
  <arg name="map_size_y" value="30.0"/>
  <arg name="map_size_z" value=" 3.0"/>

  <arg name="odom_topic" value="visual_slam/odom" />

  <arg name="formation_type" value="16" />

  <!-- swarm topic transmitter bridge-->
  <include file="$(find swarm_bridge)/launch/bridge.launch">
    <arg name="drone_id" value="999"/>
    <arg name="broadcast_ip" value="127.0.0.255"/>
  </include>

  <!-- map -->
  <node pkg ="map_generator" name ="random_forest" type ="random_forest" output = "screen">
    <param name="map/x_size" value="35" />
    <param name="map/y_size" value="25" />
    <param name="map/z_size" value="3.0" />
    <param name="map/resolution" value="0.1"/>
    <param name="ObstacleShape/seed" value="1"/>

    <param name="map/obs_num" value="60"/>
    <param name="ObstacleShape/lower_rad" value="0.5"/>
    <param name="ObstacleShape/upper_rad" value="0.5"/>
    <param name="ObstacleShape/lower_hei" value="2.0"/>
    <param name="ObstacleShape/upper_hei" value="3.0"/>

    <param name="map/circle_num" value="30"/>
    <param name="ObstacleShape/radius_l" value="1.0"/>
    <param name="ObstacleShape/radius_h" value="1.2"/>
    <param name="ObstacleShape/z_l" value="0.7"/>
    <param name="ObstacleShape/z_h" value="3.0"/>
    <param name="ObstacleShape/theta" value="0.5"/>

    <param name="pub_rate" value="1.0"/>
    <param name="min_distance" value="2.0"/>
  </node>

  <!-- swarm robots -->
  <group ns="drone_0" if="$(eval swarm_num>0)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">

      <arg name="drone_id" value="0"/>

      <arg name="init_x" value="-20.00"/>
      <arg name="init_y" value="0.00"/>
      <arg name="init_z" value="0.00"/>

      <arg name="target_x" value="30.00"/>
      <arg name="target_y" value="0.00"/>
      <arg name="target_z" value="0.00"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>

    </include>
  </group>

  <group ns="drone_1" if="$(eval swarm_num>1)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="1"/>

      <arg name="init_x" value="-23.09"/>
      <arg name="init_y" value="4.62"/>
      <arg name="init_z" value="0.10"/>

      <arg name="target_x" value="26.91"/>
      <arg name="target_y" value="4.62"/>
      <arg name="target_z" value="0.10"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>

    </include>
  </group>

  <group ns="drone_2" if="$(eval swarm_num>2)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="2"/>

      <arg name="init_x" value="-28.54"/>
      <arg name="init_y" value="3.54"/>
      <arg name="init_z" value="0.20"/>

      <arg name="target_x" value="21.46"/>
      <arg name="target_y" value="3.54"/>
      <arg name="target_z" value="0.20"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>

    </include>
  </group>

  <group ns="drone_3" if="$(eval swarm_num>3)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="3"/>

      <arg name="init_x" value="-29.62"/>
      <arg name="init_y" value="-1.91"/>
      <arg name="init_z" value="0.30"/>

      <arg name="target_x" value="20.38"/>
      <arg name="target_y" value="-1.91"/>
      <arg name="target_z" value="0.30"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>

    </include>
  </group>

  <group ns="drone_4" if="$(eval swarm_num>4)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="4"/>

      <arg name="init_x" value="-25.00"/>
      <arg name="init_y" value="-5.00"/>
      <arg name="init_z" value="0.40"/>

      <arg name="target_x" value="25.00"/>
      <arg name="target_y" value="-5.00"/>
      <arg name="target_z" value="0.40"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>

    </include>
  </group>

  <group ns="drone_5" if="$(eval swarm_num>5)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="5"/>

      <arg name="init_x" value="-20.38"/>
      <arg name="init_y" value="-1.91"/>
      <arg name="init_z" value="0.50"/>

      <arg name="target_x" value="29.62"/>
      <arg name="target_y" value="-1.91"/>
      <arg name="target_z" value="0.50"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>

    </include>
  </group>

  <group ns="drone_6" if="$(eval swarm_num>6)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="6"/>

      <arg name="init_x" value="-21.46"/>
      <arg name="init_y" value="3.54"/>
      <arg name="init_z" value="0.60"/>

      <arg name="target_x" value="28.54"/>
      <arg name="target_y" value="3.54"/>
      <arg name="target_z" value="0.60"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  </group>

  <group ns="drone_7" if="$(eval swarm_num>7)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="7"/>

      <arg name="init_x" value="-26.91"/>
      <arg name="init_y" value="4.62"/>
      <arg name="init_z" value="0.70"/>

      <arg name="target_x" value="23.09"/>
      <arg name="target_y" value="4.62"/>
      <arg name="target_z" value="0.70"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  </group>

  <group ns="drone_8" if="$(eval swarm_num>8)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="8"/>

      <arg name="init_x" value="-30.00"/>
      <arg name="init_y" value="0.00"/>
      <arg name="init_z" value="0.80"/>

      <arg name="target_x" value="20.00"/>
      <arg name="target_y" value="0.00"/>
      <arg name="target_z" value="0.80"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  </group>

  <group ns="drone_9" if="$(eval swarm_num>9)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="9"/>

      <arg name="init_x" value="-26.91"/>
      <arg name="init_y" value="-4.62"/>
      <arg name="init_z" value="0.90"/>

      <arg name="target_x" value="23.09"/>
      <arg name="target_y" value="-4.62"/>
      <arg name="target_z" value="0.90"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  </group>

  <group ns="drone_10" if="$(eval swarm_num>10)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="10"/>

      <arg name="init_x" value="-21.46"/>
      <arg name="init_y" value="-3.54"/>
      <arg name="init_z" value="1.00"/>

      <arg name="target_x" value="28.54"/>
      <arg name="target_y" value="-3.54"/>
      <arg name="target_z" value="1.00"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  </group>

  <group ns="drone_11" if="$(eval swarm_num>11)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="11"/>

      <arg name="init_x" value="-20.38"/>
      <arg name="init_y" value="1.91"/>
      <arg name="init_z" value="1.10"/>

      <arg name="target_x" value="29.62"/>
      <arg name="target_y" value="1.91"/>
      <arg name="target_z" value="1.10"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  </group>

  <group ns="drone_12" if="$(eval swarm_num>12)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="12"/>

      <arg name="init_x" value="-25.00"/>
      <arg name="init_y" value="5.00"/>
      <arg name="init_z" value="1.20"/>

      <arg name="target_x" value="25.00"/>
      <arg name="target_y" value="5.00"/>
      <arg name="target_z" value="1.20"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  </group>

  <group ns="drone_13" if="$(eval swarm_num>13)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="13"/>

      <arg name="init_x" value="-29.62"/>
      <arg name="init_y" value="1.91"/>
      <arg name="init_z" value="1.30"/>

      <arg name="target_x" value="20.38"/>
      <arg name="target_y" value="1.91"/>
      <arg name="target_z" value="1.30"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  </group>

  <group ns="drone_14" if="$(eval swarm_num>14)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="14"/>

      <arg name="init_x" value="-28.54"/>
      <arg name="init_y" value="-3.54"/>
      <arg name="init_z" value="1.40"/>

      <arg name="target_x" value="21.46"/>
      <arg name="target_y" value="-3.54"/>
      <arg name="target_z" value="1.40"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  </group>

  <group ns="drone_15" if="$(eval swarm_num>15)">
    <include file="$(find ego_planner)/launch/run_in_sim.launch">
      <arg name="drone_id" value="15"/>

      <arg name="init_x" value="-23.09"/>
      <arg name="init_y" value="-4.62"/>
      <arg name="init_z" value="1.50"/>

      <arg name="target_x" value="26.91"/>
      <arg name="target_y" value="-4.62"/>
      <arg name="target_z" value="1.50"/>

      <arg name="map_size_x" value="$(arg map_size_x)"/>
      <arg name="map_size_y" value="$(arg map_size_y)"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>
  </group>

</launch>
